In [ ]:
import pandas as pd
data = pd.read_csv("deliveries.csv")
data.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

find the most destructive death over bastman in history of ipl
- based on strike rate = (no of runs/ no of balls)*100
- also min balls are 200 in over 16-20

In [49]:
death_bastmans = data[data["over"] > 15]
all_bastmans = death_bastmans.groupby("batsman")["batsman_runs"].count()
check = all_bastmans > 200
bastmans = all_bastmans[check].index.to_list()
bastmans

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [72]:
final  =  data[data["batsman"].isin(bastmans)]
death_final = final["over"] > 15
final_group = final[death_final].groupby("batsman")

runs = final_group["batsman_runs"].sum()
balls = final_group["batsman_runs"].count()

strike_rate = (runs/balls)*100
strike_rate.sort_values(ascending=False).head()

batsman
AB de Villiers    211.052632
DA Warner         189.473684
DA Miller         186.666667
V Kohli           181.868132
RG Sharma         175.668449
Name: batsman_runs, dtype: float64

In [ ]:
#new dataframe

death_stats = pd.DataFrame({
    "runs": runs,
    "balls":balls,
    "strike rate" : strike_rate
})
death_stats.sort_values( "strike rate" ,ascending=False)

                  runs  balls  strike rate
batsman
AB de Villiers    1203    570   211.052632
DA Warner          432    228   189.473684
DA Miller          672    360   186.666667
V Kohli            993    546   181.868132
RG Sharma         1314    748   175.668449
DJ Hussey          410    234   175.213675
RV Uthappa         477    275   173.454545
Yuvraj Singh       883    516   171.124031
JH Kallis          394    231   170.562771
MS Dhoni          2076   1224   169.607843
SPD Smith          535    316   169.303797
JP Duminy          869    518   167.760618
DJ Bravo           686    409   167.726161
SK Raina           767    458   167.467249
AT Rayudu          703    425   165.411765
WP Saha            482    295   163.389831
KA Pollard        1352    838   161.336516
YK Pathan          930    584   159.246575
S Dhawan           386    243   158.847737
BJ Hodge           606    385   157.402597
AM Rahane          410    268   152.985075
LRPL Taylor        312    204   152.941176
KD Karthik         704    463   152.051836
DPMD Jayawardene   374    246   152.032520
MK Pandey          340    224   151.785714
JA Morkel          637    425   149.882353
JP Faulkner        439    294   149.319728
S Badrinath        422    283   149.116608
Y Venugopal Rao    387    260   148.846154
Harbhajan Singh    617    418   147.607656
AD Mathews         425    289   147.058824
KM Jadhav          488    338   144.378698
STR Binny          314    218   144.036697
AR Patel           327    229   142.794760
IK Pathan          663    465   142.580645
MK Tiwary          593    423   140.189125
SS Tiwary          410    300   136.666667
NV Ojha            410    304   134.868421
RA Jadeja          753    576   130.729167
PP Chawla          374    311   120.257235
P Kumar            294    268   109.701493
R Vinay Kumar      256    235   108.936170
A Mishra           227    225   100.888889